body {
  font-family: Arial, sans-serif;
  background-color: floralwhite;
  margin: 20px;
}

h1 {
  color: orangered;
}

.selgitus {
  border: 2px solid gray;
  padding: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 566px;
  overflow: auto; /* et pilt ei oleks raami all */
}

.selgitus img {
  float: right; /* teeb et pilt oleks paremal küljel */
  width: 260px;
  margin-left: 15px;
}
